@CHARSET "UTF-8";
ul.chooser>li{
	border: 3px;
	border-color: red;
}

* {
	font-family : Microsoft Yahei;
}

#submit-btn{
	/*padding:right = 12px;*/
	width :100%;
	height: 40px;
}

.login-panel{
	background-color: gray;
	border-radius : 10px;
	
}

.form-control{
	height: 40px;
}

body{
	background: url("../pic/bg1.jpg") ;
	body {
	margin:0;
	padding:0;
	width:100%;
	color:#585757;
	/*font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;*/
}
}

.color-white{
	color: white;
}

.color-black{
	color: black;
}

html { overflow: scroll; }

/* menu-nav  */

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.menu_nav {
/*	position:fixed;*/
	margin:0;
	/*height:48px;*/
	/*float:right;*/
}
.menu_nav ul {
	list-style:none;
	/*height:48px;*/
	float:left;
	background : white ;
	
	border:3px solid #9D9999;
	border-radius : 10px;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	border : 3px black; 
	float:center;
}

.menu_nav ul li a {
	display:block;
	margin:0;
	padding: 20px;
	font-size:15px;
	line-height:20px;
	font-weight:normal;
	color:#929292;
	text-decoration:none;
	text-transform:none;
	text-align:center;
	
	line-height:10px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#e77573;
}



/* menu-nav ************** */

.main-div {
	padding : 5% 5% 10% 5% ; 
	background: url(../pic/window_bg.jpg);
	border-radius: 10px ; 
}





