<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans.xsd  
           http://www.springframework.org/schema/aop  
           http://www.springframework.org/schema/aop/spring-aop.xsd  
           http://www.springframework.org/schema/tx  
           http://www.springframework.org/schema/tx/spring-tx.xsd">  
  
    <!-- 数据库连接的数据源 -->  
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">  
        <!-- 数据库连接驱动 -->  
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
        <!-- 连接的用户名 -->  
        <property name="username" value="root" />  
        <!-- 连接的用户密码 -->  
        <property name="password" value="xuanyuan" />
        <!-- 连接的url地址 -->  
        <property name="url" value="jdbc:mysql://localhost:3306/dbforcineplex?useUnicode=true&amp;characterEncoding=UTF-8" />  
    </bean>  
  
  
    <!--sessionFactory工厂 -->  
    <bean id="localSessionFactoryBean"  
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
         <property name="mappingResources">  
            <list>  
                <value>model.hbm.xml</value>  
            </list>  
        </property>   
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>  
            </props>  
        </property>  
    </bean>  
  
    <!-- 配置HibernateTemplate -->  
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">  
        <property name="sessionFactory" ref="localSessionFactoryBean" />  
    </bean>  
    <!-- 实现hibernateDaoSupport抽象接口来使用 -->  
    <bean id="hibernateDaoSupport"  
        class="org.springframework.orm.hibernate4.support.HibernateDaoSupport"  
        abstract="true">  
        <property name="hibernateTemplate" ref="hibernateTemplate" />  
    </bean>  
  
    <!-- 创建hibernate事务管理器 -->  
    <bean id="hibernateTransactionManager"  
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
        <property name="sessionFactory" ref="localSessionFactoryBean" />  
    </bean> 
     
   
</beans>